#######################################################################
#				LES PARAMETRE DU SERVEUR BRAZIL
########################################################################

# Sensor web server configuration.
# We suppose we have only one sensor.

handler=main
log=0
port=2222
host=localhost
#
main.handlers=share thing 
main.class=sunlabs.brazil.server.ChainHandler

#file handler
share.prefix=/file/
share.class=sunlabs.brazil.server.FileHandler


# thing handler
thing.prefix=/thing/
thing.class=dispatcher.HTTPDispatcher

# mandatory, SimpleThing, CompositeThing (respect the case)
_FACADE=CompositeThing
_THING_ID=PC-PORTABLE





